{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Welcome - Big-Boyz Gym</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link href="static/assets/img/favicon.png" rel="icon" />
    <link href="static/assets/img/favicon.png" rel="apple-touch-icon" />

    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link
      href="static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="static/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <link href="static/assets/css/main.css" rel="stylesheet" />
  </head>

  <body class="index-page">
    <header
      id="header"
      class="header d-flex align-items-center fixed-top bg-black"
    >
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
      >
        <a href="index.html" class="logo d-flex align-items-center">
          <h1 class="sitename">Destiny</h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog </a></li>
            <li><a href="/workout">Classes</a></li>
            <li><a href="/services">Our Services</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/trainer">Trainers</a></li>
            <li><a href="/subplan">Membership</a></li>
            <li><a href="/contact">Contact</a></li>

            <li class="dropdown">
              <a
                class="btn-getstarted btn btn-secondary p-2"
                href="index.html#about"
              >
                <img
                  src="static/assets/img/blog/user.png"
                  alt=""
                  style="width: 25px; height: 25px; margin-right: 5px" />
                {{user.username}}<i
                  class="bi bi-chevron-down toggle-dropdown"
                ></i
              ></a>
              <ul>
                <!-- <li><a href="{% url 'login' %}">login</a></li> -->

                {% if not request.user.is_authenticated %}
                <li><a href="/signup">SignUp</a></li>
                <li><a href="{%url 'login'%}">Login</a></li>
                {% else%}
                <li><a href="/dashboard">Dashboard</a></li>

                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button
                    type="submit"
                    class="btn btn-secondary py-1 px-4 justify-center mx-3"
                  >
                    Log Out
                  </button>
                </form>
                {% endif %}
              </ul>
            </li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
      </div>
    </header>

    <main class="main">
      <!-- Hero Section -->

      <div class="col-xl-6 col-lg-8">
        {% block title %} {% endblock title %}
      </div>

      <main id="main">{% block content %} {% endblock %}</main>
    </main>

    <footer id="footer" class="footer dark-background">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index.html" class="d-flex align-items-center">
              <span class="sitename">Big Boyz Gym</span>
            </a>
            <div class="footer-contact pt-3">
              <p>Mathare North Area 4</p>
              <p>Nairobi, Kenya</p>
              <p class="mt-3">
                <strong>Phone:</strong> <span>0707608500</span>
                <strong>Phone:</strong> <span>0112956733</span>
              </p>
              <p><strong>Email:</strong> <span>bigboyz@gmail.com</span></p>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Special Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="about.html">About us</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="/services">Services</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="/trainer">Trainers</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Classes</h4>
            <ul>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="/services">Abs Training</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="/services">Body Building</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="/services">Back training</a>
              </li>
              <li>
                <i class="bi bi-chevron-right"></i>
                <a href="/services">Leg Workouts</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-12">
            <h4>Follow Us</h4>
            <p>
              Stay connected with us for the latest updates and fitness tips.
            </p>
            <div class="social-links d-flex">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="container copyright text-center mt-4">
        <p>
          © <span>Copyright</span>
          <strong class="px-1 sitename">Big Boyz</strong>
          <span>All Rights Reserved</span>
        </p>
        <div class="credits">
          Designed by
          <a href="https://github.com/James-mutanyi/Big_Boyz-Gym"
            >James-mutanyi and Destiny</a
          >
        </div>
      </div>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="static/assets/js/main.js"></script>
  </body>
</html>
