{% extends "base.html" %} {% block title %} Our Gallery {% endblock title %}
{%block content %}

<section id="blog-posts" class="blog-posts section mt-4">
  <h1
    class="text-center mb-4 section-heading border-bottom pb-2 font-weight-bold"
  >
    View Our Gallery
  </h1>
  <div class="container">
    <div class="row gy-4">
      {% for p in post %}
      <div class="col-lg-4 col-md-6">
        <article>
          <div class="post-img">
            <img src="{{p.img.url}}" alt="" class="img-fluid" alt="" />
          </div>
          <h5 class="post-category">{{p.title}}</h5>
          <p class="card-text">{{p.details}}</p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 min ago</small>
          </p>
          <a href="{% url 'galleryimages' p.id %}" class="btn btn-primary"
            >View All</a
          >
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
