{% extends "base.html" %}
{% block title %}
  Pricing
{% endblock title %}
{% block content %}
    <!-- Main Start -->
<section class="container my-4 pricing section">
    <h1 class="text-center mb-4 section-heading border-bottom pb-2">Plans</h1>
  <main> 
      
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for p in price %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            {% if p.highlited %}
          <div class="card-header py-3 text-white bg-primary border-primary">
            {%else%}
            <div class="card-header py-3">
            {% endif %}
        
            <h4 class="my-0 fw-normal">{{p.title}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{p.price}}<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <!-- This is to fetch data from related models directly to the front end. -->
                {% for x in p.subplan_set.all  %}
                <li>{{x.title}}</li> 
                {% endfor %}
            </ul>
            <a href="checkout.php" class="w-100 btn btn-lg btn-outline-primary">Get started</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
</section>
    <!-- End -->
{%endblock%}