{% extends "base.html" %}
    {% block title %}
      sighn up
    {% endblock title %}
    {% block content %}
    <main class="main">
      <!-- Contact Section -->
      <div
        class="container d-flex justify-content-center align-items-center vh-100"
      >
        <div class="card p-4 shadow" style="width: 400px">
          <h3 class="text-center text-uppercase border-bottom mb-4">
            Create an account
          </h3>
          {% for message in messages %}
          <div
            class="alert alert-{{message.tags}} alert-dismissible fade show "
            role="alert"
          >
            <strong></strong>{{message}}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="close"
            ></button>
          </div>

          {% endfor %}
          <form action="/signup" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="name" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="username"
                placeholder="Enter your username"
                required
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter your useremail"
                required
              />
            </div>
           

            <div class="mb-3">
              <label for="password1" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password1"
                name="password1"
                id="password"
                name="password"
                placeholder="Enter your password"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password2" class="form-label">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="password2"
                name="confirmPassword"
                placeholder="Confirm your password"
                required
              />
            </div>
            <button type="submit" class="btn text-uppercase btn-primary w-100">
              Sign Up
            </button>
          </form>
          <div class="text-center mt-3">
            <small
              >Already have an account? <a href="login.html">Login</a></small
            >
          </div>
        </div>
      </div>
      <!-- /Contact Section -->
    </main>

  {% endblock %}