{% extends "base.html" %}
{% block title %}
  Gallery
{% endblock title %}
{% block content %}

  <div class="container mt-2">

    <center><h1>Walkers Classes</h1></center>
    <div class="row">
      {% for p in workout %}
      <div class="col-md-4 mt-2">

        <div class="card">
          <img src="{{p.iamge.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{p.title}}</h5>
        
            <a href="{% url 'session' p.id %}" class="btn btn-primary">{{p.title}} classes</a>
           
          </div>
        </div>
      </div>
      {% endfor %}
    

    </div>
    <br><br>

   
  
  
 
{% endblock  %}